<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAYBUS</title>
    <link rel="icon" type="image/x-icon" href="../img/Camión_Icono.png">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
</head>

<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="../view/admin.html"
                    class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="../img/Logo_Proyecto_2.png" alt="PAYBUS" width="80" height="65">
                </a>

               <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary"></a></li>
                    <li><a href="../view/admin.html" class="nav-link px-2 text-white">Inicio</a></li>
                    <li><a href="#Recarga" class="nav-link px-2 text-white">Recarga</a></li>
                    <li><a href="#Configuración de Empleado" class="nav-link px-2 text-white">Configuración de Empleado</a></li>
                    <li><a href="#Cierre de caja" class="nav-link px-2 text-white">Cierre de caja</a></li>
                    <li><a href="#Cerrar sesión" class="nav-link px-2 text-white">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>

<script src="../js/bootstrap.min.js"></script>
<script src="../js/script.js"></script>

</html>
